In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [76]:
df=pd.read_csv("loan_train.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [77]:
df.shape

(614, 13)

In [78]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [79]:
x=df
x.shape

(614, 13)

In [91]:
x.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [85]:
def fillvalue(a,b):
    x[a].fillna(b,inplace=True)
    return a+" filled the null value by "+b

In [90]:
fillvalue("Loan_Amount_Term","360.0")

'Loan_Amount_Term filled the null value by 360.0'

In [48]:
x['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [50]:
x['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [52]:
x['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [55]:
x['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [63]:
x['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [66]:
x['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [72]:
table = x.pivot_table(values='LoanAmount', index='Self_Employed' ,columns='Education', aggfunc=np.median)
table

Education      Graduate  Not Graduate
Self_Employed
No                130.0         113.0
Yes               157.5         130.0

In [92]:
table = x.pivot_table(values='LoanAmount', index='Self_Employed' ,columns='Education', aggfunc=np.median)
table

Education      Graduate  Not Graduate
Self_Employed
No                130.0         113.0
Yes               157.5         130.0

In [94]:
table = x.pivot_table(values='LoanAmount', index='Gender' ,columns='Education', aggfunc=np.median)
table

Education  Graduate  Not Graduate
Gender
Female        113.0         102.0
Male          136.0         115.0

In [95]:
table = x.pivot_table(values='LoanAmount', index='Gender' ,columns='Self_Employed', aggfunc=np.median)
table

Self_Employed     No    Yes
Gender
Female         112.0  129.0
Male           128.0  155.0